{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
    <div class="page-header">
        <h1>任务创建</h1>
    </div>
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    <!-- content modal -->
    <div class="modal fade" id="content-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">自定义正文</h4>
                </div>
                <div class="modal-body">
                    <textarea  id="content-area" placeholder="输入邮件正文内容"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="custom_content()">自定义正文</button>
                    <button type="button" class="btn btn-default" onclick="no_email()">不发送邮件</button>
                    <button type="button" class="btn btn-default" onclick="render_html()">渲染邮件正文</button>
                    <button type="button" class="btn btn-default" onclick="custom_render()">自定义渲染邮件正文(jinja2语法)</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="submit()">提交</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{% include 'email_content.js' %}
{% endblock %}